@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Jakub Kołodziej</h1>
    <p>Index Number: 14128</p>

    <a class="btn btn-primary" asp-area="" asp-page="RentACar/Index">Project of Hire a Car Page</a>

</div>
